:root {
  --dark-color-nav: #131921;
  --light-color: #ffffff;
  --secondary-color: #cecbcb;

}
.all{
  max-width: 100vw;
  font-family: "Amazon Ember", Arial, sans-serif;
}

/*! -----------------------nav bar-------------- */

.navBarTop{
  width: 100vw;
  display: flex;
  height: 6.5vh;
  background: var(--dark-color-nav);
  font-size: calc(0.45vh + 0.45vw);
  padding: 2px;
}
.withHover{
  margin-left: calc(0.3vh + 0.3vw);
  border:1px solid transparent;
  margin: 1px 4px;
}
.withHover:hover{
  border:1px solid var(--light-color);
}
.amazonNav{
  padding: 5px;
}
.logoAmazonNav{
  background: url(../image/asset\ 0.png);
  float: left;
  background-position: -10px -51px;
  width: 97px;
  height: 30px;
  margin-top: 10px;
}
.location{
  width: 77px;
  height: 55px; 
  vertical-align: auto; 
  color: var(--secondary-color);
  display: flex;
  padding: 4px;
  font-size: 12px;
}
.locationImg{
  width: 20%;
  height: 60%; 
}
.locationImgSearch{
  margin-top: 18px;
  width: 100%;
  height: 100%;
  float:left;
  background: url(../image/asset\ 0.png);
  background-position: -71px -378px;
  
}
.locationWord{
  margin-top: 10px;
  width: 80%;
  height: 100%; 
}

.location h4{
  font-size: 14px;
  color: var(--light-color);
}
.search{
  width: 1262px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  
}
.searchMenu{
  padding: 10px 10px;
  width: 4%;
  height: 100%;
  background: #e7e3e3;
  border-radius: 5px 0 0 5px;
  margin-top: 1vh;
  display: flex;
}
.searchMenu h3{
  width: 60%;
  font-size: 11px;
}
.searchMenu span{
  width: 40%;
  float:left;
  background: url(../image/asset\ 81.png);
  background-position: -1023px 99970px;
}
.searchMenu:hover{
  background: #DADADA;
}

.searchMenu:active{
  width: 4.5%;
  height: 110%;
  margin-top: 0.7vh;
  border:3px solid #f68c00;
}
.lineSearch{
  height: 100%;
  margin-top: 1vh;
  border: none;
  width: 92.7%;
  border:3px solid transparent;
  outline: none;
}
.lineSearch:focus{
  height: 110%;
  margin-top: 0.7vh;
  border:3px solid #f68c00;
}
.buttomSearch{
  margin-top: 1vh;
  border: none;
  width: 3.3%;
  height: 100%;
  border-radius: 0 5px 5px 0;
  border:3px solid transparent;
  background: #ecaf5f;
}
.buttomSearch:hover{
  background: #F3A847;
}
.buttomSearch:active{
  width: 3.8%;
  height: 110%;
  margin-top: 0.7vh;
  border:3px solid #f68c00;
}
.buttomSearch span{
  height: 100%;
  width: 100%;
  float:left;
  background: url(../image/asset\ 0.png);
  background-position: -3px 1066px;
}